#project{
    display: block;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
    padding: 20px;
    .project_m{
        width: 1534px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
        .pro_list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 20px;
            h2{
                margin-right: 130px;
                margin-bottom: 50px;
                font-size: 80px;
                font-weight: bold;
                span{
                    /* letter-spacing: -10px; */
                    border-bottom: 3px double #ddd;
                    text-shadow: 0 2px 4px rgba(255, 255, 255, .3);
                }
            }
            .pro_item{
                padding: 20px;
                margin-right: 60px;
                margin-bottom: 50px;
                color: #fff;
                width: 290px;
                height: 370px;
                position: relative;
                h3{
                    font-family: 'Anton', sans-serif;
                    font-size: 22px;
                   span{} 
                }
                p{}
                img{
                    width: 200px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    &.detail_photo{
                        position: absolute;
                        width: 170px;
                        bottom: 20px;
                        right: 20px;
                    }
                    &.black{
                        filter: grayscale(100%);
                    }
                }
                &.project1{background: #f17373;}
                &.project2{background: #f1dc73;}
                &.project3{background: #73eff1;}
                &.project4{background: #f173da;}
                &.project5{background: #7377f1;}
                &.project6{background: #f1ae73;}
                &.project7{background: #79f173;}
            }
        }
    }
}